{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
<style>
    table {
        border-collapse: separate;
        border-spacing: 0;
        width: 100%;
        border: 1px solid #ddd;
        border-radius: 10px;
        overflow: hidden;
    }
    
    thead th {
        background-color: #f2f2f2;
        color: #333;
        padding: 12px;
        text-align: left;
    }
    
    tbody td {
        padding: 12px;
        border-bottom: 1px solid #ddd;
    }
    
    tbody tr:last-child td {
        border-bottom: none;
    }
</style>

<div class="container mt-5">
    <h2>Gérer les Retours pour la transaction {{ transaction_pk }}</h2>
    <strong>Client :</strong>
    <span>
        {% if transaction.client %}
            {{ transaction.client.nom }} {{ transaction.client.prenom }}
        {% else %}
            Anonyme
        {% endif %}
    </span>
    <p><strong>Points de fidélité à retirer pour ce retour :</strong> {{ points_to_remove }}{{ transaction.points_gagnes }} points</p>
    <form method="post">
        {% csrf_token %}
        <div class="card-body">
            <table class="table table-striped">
                <thead class="table-dark">
                    <tr>
                        <th>Article</th>
                        <th>Quantité achetée</th>
                        <th>Quantité retournée</th>
                        <th>Quantité à retourner</th>
                        <th>Prix unitaire (€)</th>
                        <th>Total (€)</th>
                        <th>Promotion</th>
                        <th>État</th>
                    </tr>
                </thead>
                <tbody>
                    {% for data in items_with_status %}
                    <tr>
                        <td>{{ data.item.product.nom_article }}</td>
                        <td>{{ data.item.quantity }}</td>
                        <td>{{ data.item.returned_quantity }}</td>
                        <td>
                            <input 
                                type="number" 
                                name="quantity_returned_{{ data.item.id }}" 
                                min="0" 
                                max="{{ data.max_returnable_quantity }}" 
                                class="form-control" 
                                value="0" 
                                {% if data.is_return_impossible %} disabled {% endif %}>
                        </td>
                        <td>{{ data.item.price|floatformat:2 }} €</td>
                        <td>{{ data.item.price|floatformat:2 }} € x {{ data.item.quantity }} = {{ data.item.price|mul:data.item.quantity|floatformat:2 }} €</td>
                        <td>
                            {% if data.is_promotion_applied %}
                            <span class="badge bg-danger">Oui</span>
                            {% else %}
                            <span class="badge bg-success">Non</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if data.is_return_impossible %}
                            <span class="badge bg-danger">Retour impossible</span>
                            {% else %}
                            <span class="badge bg-success">Retour possible</span>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit" class="btn btn-success">Valider les Retours</button>
            <a href="{% url 'sales_history' %}" class="btn btn-primary">Retour à l'Historique des ventes</a>
            
{% endblock %}

